.description-right{
	float:right;
}
#plugin-description p.button{
	clear: both;
}

#plugin-description .special-plugin-button{
	margin-bottom:15px !important;
	background: #6779DB !important;
}

.overlay{
   	background-color: rgba(0,0,0,0.7);
   	position: fixed; top: 0; left: 0;right:0;bottom:0;
   	width: 100%; height: 100%;
   	z-index: 99999999999;
	pointer-events : none;
	opacity: 0;
	-webkit-transition : all 250ms ease;
	/*opacity: 1;*/
}
.overlay.show{
	opacity: 1;
	pointer-events: auto;
	cursor: pointer
}

#my_awesome_iframe_container{
	position: absolute;
	width: 500px;
	height: 500px;
	left:50%;
	margin: -250px 0 0 -250px;
	background: #fefefe;
	border-radius: 3px;
	top:150%;
	-webkit-transition : all 250ms ease;
	box-sizing: border-box;
	padding:0;
}
.show #my_awesome_iframe_container{
	top:50% !important;
}

#my_awesome_iframe_container::after{
	content : "x";
	background: #000;
	font-size: 25px;
	color:#FFF;
	text-align: center;
	line-height: 25px;
	border: 3px solid #fff;
	display: block;
	position: absolute;
	top:-10px;
	right:-10px;
	border-radius:50%;
	width:30px;height:30px;
	box-shadow:0 0 3px #fff;
	cursor: pointer
}